<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./prd/styles/app.css">
</head>
<body>
    <div ng-controller="myCtrl">
        <div class="box">
            <input type="text" ng-model="textfirst" placeholder="search FirstName">
            <input type="text" ng-model="textlast" placeholder="search LastName">
            <input id="checkbox" type="checkbox" ng-click="checks()"> Exact Match
        </div>

        <table>
            <thead>
                <tr>
                    <td class="header" ng-click="paixu('FirstName')">FirstName <span ng-class="getClass('FirstName')"></span></td>
                    <td class="header" ng-click="paixu('LastName')">LastName<span ng-class="getClass('LastName')"></span></td>
                    <td class="header" ng-click="paixu('Salarys')">Salary&nbsp;&nbsp;&nbsp;&nbsp;<span ng-class="getClass('Salarys')"></span></td>
                    <td class="header" ng-click="paixu('Salary')">Salary&nbsp;&nbsp;&nbsp;<span ng-class="getClass('Salary')"></span></td>
                    <td class="header" ng-click="paixu('Age')">Age<span ng-class="getClass('Age')" ></span></td>
                    <td class="header" ng-click="paixu('Birthday')">Birthday<span ng-class="getClass('Birthday')"></span></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="f in arr | orderBy:value : falg | filter :search">
                    <td>{{f.FirstName}}</td>
                    <td>{{f.LastName}}</td>
                    <td>{{f.Salary | currency:'￥'}}</td>
                    <td>{{f.Salary | currency:''}}</td>
                    <td>{{f.Age}}</td>
                    <td>{{f.Birthday | date:"yyyy-MM-dd"}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

<script src="./common/angular.min.js"></script>
<script src="./prd/scripts/app.js"></script>
</html>